{% extends 'index.html' %}
{% load static %}
{% block titulo %} Contacto {% endblock titulo %}
{% block titulo_pagina %} Contacto {% endblock titulo_pagina %}
{% block sub_titulo_pagina %} 
Estamos ansiosos por saber de vos
{% endblock sub_titulo_pagina %}
{% block imagen_principal %} {% static 'assets/img/contacto.jpg' %} {% endblock imagen_principal %}

{% block contenido %}
    <section id="contacto" class="contacto mb-5">
      <div class="container" >
        <div class="form mt-5">
          <form action="" method="post" role="form" class="contacto-form ">
            {% csrf_token %}
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Su Nombre" required>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Su dirección de correo electrónico" required>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="asunto" id="asunto" placeholder="Asunto" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="mensaje" rows="5" placeholder="Mensaje" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
          </form>
        </div><!-- End Contact Form -->

      </div>
    </section>


  {% endblock contenido %}