{% extends 'index.html' %}
{% load static %}
{% block titulo %} {{resena.titulo}} {% endblock titulo %}
{% block titulo_pagina %} {{resena.titulo}} {% endblock titulo_pagina %}
{% block menu_pagina %}
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav  py-2">
        <li class="nav-item">
          <a href="{% url 'blog:index' %}">Inicio</a>
        </li>
        <li class="nav-item active">
          <a href="{% url 'blog:listar_resena' %}">Reseñas</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'blog:listar_categoria' %}">Categorías</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'blog:listar_autor' %}">Autores</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'blog:nosotros' %}">Nosotros</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'blog:contacto' %}">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock menu_pagina %}
{% block sub_titulo_pagina %}
"{{resena.titulo}}" de {{resena.autor}}
{% endblock sub_titulo_pagina %}
{% block imagen_principal %} {{ resena.imagen.url }} {% endblock imagen_principal %}

{% block contenido %}
<div class="col-lg-9">
  <div class="card">
    <div class="card-header">{{ resena.titulo }}</div>
    <div class="card-body">
      <div class="row card-bod">
        <div class="col-md-5 px-2">
          <div class="d-flex justify-content-start p-0">
            <a href="#!" class="link-light">{{ resena.fecha_alta }}</a>
          </div>
          <img src="{{ resena.imagen.url }}" alt="{{ resena.titulo }}"
            class="image-fluid rounded d-flex justify-content-start py-3" style='width: 100%' />
        </div>
        <div class="col-md-7 card-body px-2 py-0">
          <div class="d-flex justify-content-end p-0">
            <a href="#!" class="link-light">{{ resena.categoria }}</a>
          </div>
          <p class="card-text">{{ resena.contenido | safe }}</p>
        </div>
        <div class="col-md-12 d-flex justify-content-between pt-3 px-2">
          <div class="d-flex justify-content-end p-0">
            <a href="#!" class="link-light">{{ resena.autor }}</a>
          </div>
          <a class="btn btn-danger" href="{% url 'blog:index' %}">Volver →</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
{% block menu_footer %}
<ul>
  <li class="fot-item">
    <a href="{% url 'blog:index' %}">Inicio</a>
  </li>
  <li class="fot-item">
    <a href="{% url 'blog:nosotros' %}">Nosotros</a>
  </li>
  <li class="fot-item">
    <a href="{% url 'blog:contacto' %}">Contacto</a>
  </li>
</ul>
{% endblock menu_footer %}