{% extends 'index.html' %}
{% load static %}
{% block titulo %} Listar Reseñas {% endblock titulo %}
{% block titulo_pagina %} Listar Reseñas {% endblock titulo_pagina %}
{% block menu_pagina %}
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav  py-2">
                <li class="nav-item">
                    <a href="{% url 'blog:index' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'blog:listar_resena' %}">Reseñas</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'blog:listar_categoria' %}">Categorías</a>
                </li>
                <li class="nav-item active">
                    <a href="{% url 'blog:listar_autor' %}">Autores</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'blog:nosotros' %}">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'blog:contacto' %}">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock menu_pagina %}
{% block sub_titulo_pagina %}
Todos los Autores
{% endblock sub_titulo_pagina %}
{% block imagen_principal %} {% static '/assets/img/autor2.jpg' %} {% endblock imagen_principal %}
{% block contenido %}
<div class="col-lg-9">
    <div class="card">
        <div class="card-header">Listado de Autores</div>
        <div class="card-body">
            {% if autores %}
            <table class="table table-hover">
                <tr>
                    <th>Nombre</th>
                    <th>Fecha de Alta</th>
                    <th>Activo</th>
                    {% if user.is_superuser %}
                    <th>Opciones</th>
                    {% else %}
                    <th>Imagen</th>
                    {% endif %}
                </tr>
                {% for autor in autores %}
                <tr>
                    <td><a href="{% url 'blog:mostrar_autor' autor.id %}" class="link-dark">{{autor.nombre}}</a></td>
                    <td> {{ autor.fecha_alta }} </td>
                    <td> {% if autor.estado %}
                        SI
                        {% else %}
                        NO
                        {% endif %}
                    </td>
                    <td>
                        {% if user.is_superuser %}
                        <a href="{% url 'blog:modificar_autor' autor.id %}" class="btn btn-warning btn-sm">Modificar</a>
                        <a href="{% url 'blog:eliminar_autor' autor.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                        {% else %}
                        <img src="{{ autor.imagen.url }}" alt="Avatar" class="avatar_img rounded-circle">
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}


            </table>
            {% if user.is_superuser %}
            <div class="d-flex justify-content-end">
                <a href="{% url 'blog:agregar_autor' %}" class="btn btn-success btn-sm text-end">Nuevo Autor</a>
            </div>
            {% endif %}
            {% else %}
            <p>No existen autores registrados</p>
            {% endif %}
        </div>
    </div>
    <nav class="col-lg-6 offset-lg-3 mt-4 d-flex justify-content-center">

        <ul class="pagination">
            {% if autores.has_previous %}
            <li class="page-item">
                <a class="page-link prev" href="?pagina={{ autores.previous_page_number }}">Anterior</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link " href="#">Anterior</a>
            </li>
            {% endif %}

            {% if autores.number|add:'-3' > 1 %}
            <li class="page-item">
                <a class="page-link" href="?pagina=1">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?pagina={{ autores.number|add:'-3' }}">&hellip;</a>
            </li>
            {% elif autores.number|add:'-3' == 1 %}
            <li class="page-item">
                <a class="page-link" href="?pagina=1">1</a>
            </li>
            {% endif %}
            {% for i in autores.paginator.page_range %}
            {% if autores.number == i %}
            <li class="page-item active">
                <a class="page-link" href="?pagina={{i}}">{{i}}</a>
            </li>
            {% elif i > autores.number|add:'-3' and i < autores.number|add:'3' %} <li class="page-item">
                <a class="page-link" href="?pagina={{ i }}">{{ i }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if autores.paginator.num_pages > autores.number|add:'3' %}
                <li class="page-item">
                    <a class="page-link" href="?pagina={{ autores.number|add:'3' }}">&hellip;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?pagina={{ autores.paginator.num_pages }}">
                        {{ autores.paginator.num_pages }}</a>
                </li>
                {% elif autores.paginator.num_pages == autores.number|add:'3' %}
                <li class="page-item">
                    <a class="page-link" href="?pagina={{ autores.paginator.num_pages }}">
                        {{ autores.paginator.num_pages }}
                    </a>
                </li>
                {% endif %}
                {% if autores.has_next %}
                <li class="page-item">
                    <a class="page-link next" href="?pagina={{ autores.next_page_number }}">Siguiente</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Siguiente</a>
                </li>
                {% endif %}
        </ul>


    </nav>
</div>
{% endblock contenido %}
{% block menu_footer %}
<ul>
    <li class="fot-item">
        <a href="{% url 'blog:index' %}">Inicio</a>
    </li>
    <li class="fot-item">
        <a href="{% url 'blog:nosotros' %}">Nosotros</a>
    </li>
    <li class="fot-item">
        <a href="{% url 'blog:contacto' %}">Contacto</a>
    </li>
</ul>
{% endblock menu_footer %}