{% load crispy_forms_tags %}
<!-- Modal -->

<div class="modal-dialog modal-lg bg-transparent" role="document">
    <div class="modal-content bg-transparent">
        <div class="modal-header bg-danger">
            <h5 class="modal-title">Nueva Categoría</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'blog:agregar_categoria' %}" method="post" enctype="multipart/form-data" class="modal-body">
            {% csrf_token %}
            {{form.media}}
            {{form|crispy}}
            <div class="modal-footer border-top border-danger d-flex justify-content-center bg-transparent">
                <input type="reset" value="Cancelar" class="btn btn-danger m-4"
                    onclick="location.href='{% url 'blog:listar_categoria' %}'">
                <input type="submit" value="Guardar" class="btn btn-success  m-4">
            </div>
        </form>
    </div>
</div>