{% extends 'index.html' %}
{% load static %}
{% block titulo %} Detalle de Autor {% endblock titulo %}
{% block menu_pagina %}
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav  py-2">
                <li class="nav-item">
                    <a href="{% url 'blog:index' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'blog:listar_resena' %}">Reseñas</a>
                </li>
                <li class="nav-item active">
                    <a href="{% url 'blog:listar_categoria' %}">Categorías</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'blog:listar_autor' %}">Autores</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'blog:nosotros' %}">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'blog:contacto' %}">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock menu_pagina %}
{% block titulo_pagina %} Listado de Reseñas {% endblock titulo_pagina %}
{% block sub_titulo_pagina %}
Reseñas por Género
{% endblock sub_titulo_pagina %}
{% block imagen_principal %} {% static '/assets/img/autor2.jpg' %} {% endblock imagen_principal %}
{% block contenido %}




<div class="col-lg-9">
    {% if resenas %}
    <div class="card lista_resenas">
        <div class="card-header">{{ categoria.nombre }} </div>
        <div class="card-body">
            <table class="table table-hover">
                <tr>
                    <th>Título</th>
                    <th>Fecha de Alta</th>
                    <th>Activo</th>
                    <th>Imagen</th>
                </tr>
                {% for resena in resenas %}
                <tr>
                    <td><a class="link-dark"
                        href="{% url 'blog:detalleResena' resena.slug %}">{{ resena.titulo }}</a> 
                    </td>
                    <td> {{ resena.fecha_alta }} </td>
                    <td> {% if resena.estado %}
                        SI
                        {% else %}
                        NO
                        {% endif %}
                    </td>
                    <td>
                        <img src="{{ resena.imagen.url }}" alt="Avatar" class="avatar_img rounded-circle">
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% else %}
    <div class="card lista_autores p-0 ">
        <div class="card-header">Reseñas de {{ categoria.nombre }}</div>
        <div class="card-body">
            <p>No existen Reseñas registradas</p>
        </div>
    </div>
    {% endif %}
    <nav class="col-lg-6 offset-lg-3 mt-4 d-flex justify-content-center">
        <nav class="col-lg-6 offset-lg-3 mt-4 d-flex justify-content-center">
            <ul class="pagination">
                {% if resenas.has_previous %}
                <li class="page-item">
                    <a class="page-link prev"
                        href="?pagina={{ resenas.previous_page_number }}">Anterior</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link " href="#">Anterior</a>
                </li>
                {% endif %}

                {% if resenas.number|add:'-3' > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?pagina=1">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?pagina={{ resenas.number|add:'-3' }}">&hellip;</a>
                    </li>
                {% elif resenas.number|add:'-3' == 1  %}
                    <li class="page-item">
                        <a class="page-link" href="?pagina=1">1</a>
                    </li>
                {% endif %}
                {% for i in resenas.paginator.page_range %}
                    {% if resenas.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="?pagina={{i}}">{{i}}</a>
                        </li>
                    {% elif i > resenas.number|add:'-3' and i < resenas.number|add:'3' %} 
                        <li class="page-item">
                            <a class="page-link" href="?pagina={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if resenas.paginator.num_pages > resenas.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link" href="?pagina={{ resenas.number|add:'3' }}">&hellip;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?pagina={{ resenas.paginator.num_pages }}">{{ resenas.paginator.num_pages }}</a>
                    </li>
                {% elif resenas.paginator.num_pages == resenas.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link" href="?pagina={{ resenas.paginator.num_pages }}">{{ resenas.paginator.num_pages }}</a>
                    </li>
                {% endif %}
                {% if resenas.has_next %}
                    <li class="page-item">
                        <a class="page-link next"
                            href="?pagina={{ resenas.next_page_number }}">Siguiente</a>
                    </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Siguiente</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </nav>
</div>
{% endblock contenido %}
{% block menu_footer %}
<ul>
    <li class="fot-item">
        <a href="{% url 'blog:index' %}">Inicio</a>
    </li>
    <li class="fot-item">
        <a href="{% url 'blog:nosotros' %}">Nosotros</a>
    </li>
    <li class="fot-item">
        <a href="{% url 'blog:contacto' %}">Contacto</a>
    </li>
</ul>
{% endblock menu_footer %}